@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply scroll-smooth;
}
body{
    @apply font-anomalia bg-blue-900 tracking-[1px];
}

html[dir=rtl] .bg-transform-rtl::before{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
html[dir=rtl] #pm-live::before{
    @apply left-0 right-auto;
}
html[dir=ltr] .bg-transform-ltr::before{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.content:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background: linear-gradient(288.5deg, #003FFF -9.14%, #000F3A 20.33%, #000F3A 58.76%, #001B6C 95.28%, #003FFF 113.86%), #102250;
    mix-blend-mode: hard-light;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 0.75rem;
}
.gr-blue-text{
    background: linear-gradient(360deg, #001B6C 10%, #003FFF 25%, #BE7BFA 65.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.animate-vector {
    -webkit-animation: cube 10s ease-in-out infinite !important;
    animation: cube 10s ease-in-out infinite !important;
}
.bg-dark-400-overlay{
    background: radial-gradient(325.52% 125.1% at 1.67% 99.44%, #BE7BFA 0%, rgba(0, 63, 255, 0.57) 23.99%, rgba(1, 12, 39, 0) 66.22%, #010C27 100%), #010C27;;
}

@-webkit-keyframes cube {
    50% {
        transform: translateY(1rem)
    }
}

@keyframes cube {
    50% {
        transform: translateY(1rem)
    }
}
