@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
    .rotate-y-180{
        transform: rotateY(180deg);
    }
 }

html{
    @apply scroll-smooth;
}
body{
    @apply w-full h-screen font-anomalia bg-blue-900 tracking-[1px];
}
.mode-vertical{
    writing-mode: vertical-lr;
}

html[dir=rtl] .bg-transform-rtl::before{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
html[dir=rtl] #pm-live::before{
    @apply left-0 right-auto;
}
html[dir=ltr] .bg-transform-ltr::before{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.content:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background: linear-gradient(288.5deg, #003FFF -9.14%, #000F3A 20.33%, #000F3A 58.76%, #001B6C 95.28%, #003FFF 113.86%), #102250;
    mix-blend-mode: hard-light;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 0.75rem;
}
.gr-blue-text{
    background: linear-gradient(360deg, #001B6C 10%, #003FFF 25%, #BE7BFA 65.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.animate-vector {
    -webkit-animation: cube 10s ease-in-out infinite !important;
    animation: cube 10s ease-in-out infinite !important;
}
.bg-dark-400-overlay{
    background: linear-gradient(25deg, #BE7BFA 0%, rgba(0, 63, 255, 0.57) 15%, rgba(1, 12, 39, 0) 45%, #010C27 65%), #010C27;
}
.menuActive{
    @apply bg-white/10 text-white rounded-full;
}
button#hamburger-button.active .line:first-child {
    transform: rotate(45deg) translate(0px, 6px);
}
button#hamburger-button.active .line:last-child {
    transform: rotate(-45deg) translateY(-6px) translateY(0px);
}
#input-group.active p {
    @apply text-sm xl:text-base text-gray-550/50;
}
@-webkit-keyframes cube {
    50% {
        transform: translateY(1rem)
    }
}

@keyframes cube {
    50% {
        transform: translateY(1rem)
    }
}
#input-group input:focus + p,
#input-group textarea:focus + p,
#input-group input:not(:placeholder-shown) + p
{
    @apply text-sm xl:text-base text-gray-550/50;
}
.link-wrapper{
    @apply opacity-0;
}
.test-class .link-wrapper{
    @apply opacity-100;
}