@font-face{
    font-family: 'anomalia';
    font-weight: 400; /*(regular)*/
    font-style: normal;
    src: url('anomalia-regular-aaa.woff2') format('woff2'),
    url('anomalia-regular-aaa.woff') format('woff');
}
@font-face{
    font-family: 'anomalia';
    font-weight: 700; /*(bold)*/
    font-style: normal;
    src: url('anomalia-bold-aaa.woff2') format('woff2'),
    url('anomalia-bold-aaa.woff') format('woff');
}